{% extends 'base.html.twig' %}

{% block title %}Education index{% endblock %}

{% block body %}
    <h1>Education index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date_de_debut</th>
                <th>Date_de_fin</th>
                <th>Diplome</th>
                <th>Detail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education in education %}
            <tr>
                <td>{{ education.id }}</td>
                <td>{{ education.nom }}</td>
                <td>{{ education.dateDeDebut ? education.dateDeDebut|date('Y-m-d') : '' }}</td>
                <td>{{ education.dateDeFin ? education.dateDeFin|date('Y-m-d') : '' }}</td>
                <td>{{ education.Diplome }}</td>
                <td>{{ education.Detail }}</td>
                <td>
                    <a href="{{ path('education_show', {'id': education.id}) }}">show</a>
                    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('education_new') }}">Create new</a>
{% endblock %}
