{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
<body class="bg-warning">

  <div class="container mt-5 pt-5 shadow-lg" style="height: 90%; border-radius: 10px">
      <h1 class="text-center" style="font-family: Lobster, cursive">Contact</h1>
      {{ form_start(form) }}
      <div class="row ">
        <div class="col">{{ form_row(form.name) }}</div>
        <div class="col">{{ form_row(form.lastname) }}</div>

      </div>
    <div class="row">
      <div class="col">{{ form_row(form.email) }}</div>
      <div class="col">{{ form_row(form.telephone) }}</div>

    </div>
     <div class="row">
       <div class="col">{{ form_row(form.message) }}</div>
     </div>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-dark" >envoyer</button>
    </div>
    {{ form_end(form) }}
</body>

{% endblock %}
